In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
from scipy.ndimage import gaussian_filter

In [30]:
path_to_file = './philly_ped_vehicle.csv' 
df = pd.read_csv(path_to_file)

In [136]:
from utils import filter as ft
from utils import preprocess as ppr

preprocess_variables =['weekday', 'datetimeoccur', 'point_x','point_y', 'districtoccur','psa',
                 'inside_or_outside','gender','age','race', 'success']

df_no_nans = ft.filter_for_input_all(df)   # performs all filtering of row data (many rows deleted). not yet
                                            # removed columns or added feature columns
df_no_nans_add_success = ppr.add_success_column(df_no_nans)
df_no_nans_add_success = df_no_nans_add_success[preprocess_variables].copy() # 
df_all_preprocess = ppr.add_local_hit_rate(df_no_nans_add_success)
df_all_preprocess = df_all_preprocess.reset_index(drop = True)
df_input = df_all_preprocess.copy()

/Users/tommytang/Documents/Data_Science_Projects/philly-frisks/utils/preprocess.py:68: RuntimeWarning: invalid value encountered in true_divide
  return np.divide(blurred_success, blurred_indicator)

In [37]:
input_column_names = ['weekday', 'datetimeoccur','districtoccur','psa',
                        'inside_or_outside','gender','age','race','success', 'local_hit_rate']

In [38]:
# We convert input with the following: 
# from datetimeoccur we extract time of day, divided up into four hour-bins
# psa and districtoccur are encoded in indicator variables
# inside_or_outisde, gender, race all indicator variables
# local_hit_rate, a continuous variable

In [41]:
import tensorflow as tf

from tensorflow import keras

from keras.layers import Dense, Activation, Dropout, Flatten, Input
from keras.layers import Embedding, Conv1D, MaxPooling1D, GlobalMaxPooling1D, GlobalAveragePooling1D
from keras.models import Model, Sequential 
from keras.layers.recurrent import LSTM

from keras import backend as K

from keras.layers.merge import concatenate
from keras.utils import plot_model

In [185]:
from tensorflow import feature_column
from keras.utils import to_categorical
import datetime as dt
import time

In [ ]:
# for categorical data, first convert to integers, then user keras to convert to one-hot

In [126]:
def map_categorical_to_onehot(cat_data):
    # data is assumed to be a pandas series, ie
    data_to_integer_object = pd.factorize(cat_data.copy())
    data_to_integer = data_to_integer_object[0]
    return to_categorical(data_to_integer)

In [256]:
def bucketize_timeoccur(time_occur, num_buckets = 8):
    num_hours_bucket = 24 / num_buckets
    bucket_iterator = pd.Timedelta(hours=num_hours_bucket)
    for ibucket in range(num_buckets):
        ibucket_time = (dt.datetime.min + ibucket * bucket_iterator).time()
        if time_occur < ibucket_time:
            return ibucket 
    return num_buckets

def bucketize_timeoccur_series(time_occur_series, num_buckets = 8): 
    # works on a series (pandas dataframe column) that is the time of a datetime object
    return time_occur_series.apply(bucketize_timeoccur, args = (num_buckets,))

In [137]:
NUM_TRAIN_ROWS = 100
categorical_data_colnames = ['weekday', 'districtoccur','inside_or_outside','gender','race']

In [120]:
#TO DO: explore psa in districtoccur
#bucketize age, datetimeoccur

In [138]:
for colname in categorical_data_colnames:
    cat_data = df_input[colname]
    df_input[colname] = map_categorical_to_onehot(cat_data)

train_cat = df_input[categorical_data_colnames].values[:NUM_TRAIN_ROWS]

In [145]:
wd_fc

array([0, 0, 0, ..., 0, 1, 1])

In [144]:
wd[1]

array([1., 0., 0., 0., 0., 0., 0.])

In [141]:
test = df_input['weekday']

In [153]:
dto = df_input['datetimeoccur']

In [150]:
map_categorical_to_onehot(df_all_preprocess['weekday'])

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]])

In [151]:
df_input['weekday'] = map_categorical_to_onehot(df_all_preprocess['weekday'])

In [158]:
dto.head()

0    2014-10-24 20:00:00
1    2014-10-24 08:53:00
2    2014-09-19 11:57:00
3    2014-11-15 22:48:00
4    2014-03-07 16:35:00
Name: datetimeoccur, dtype: object

In [197]:
datetimeoccur = pd.to_datetime(dto)
month_occur = datetimeoccur.copy().dt.month
time_occur = datetimeoccur.copy().dt.time
t = time_occur[2]

In [202]:
t = datetimeoccur[2]

In [207]:
t1 = time_occur[2]
t3 = time_occur[3]

In [212]:
t3>t1

True

In [209]:
t1

datetime.time(11, 57)

In [211]:
test2 > test1

True

In [195]:
test1

datetime.datetime(10, 1, 1, 0, 0)

In [214]:
a = dt.time(6, 3)

In [222]:
num_buckets = 8
num_hours_bucket = 24 / num_buckets
bucket_iterator = pd.Timedelta(hours=num_hours_bucket)

In [223]:
bucket_iterator

Timedelta('0 days 03:00:00')

In [240]:
5*bucket_iterator

Timedelta('0 days 15:00:00')

In [233]:
for i in range(3):
    print(i)

0
1
2

In [230]:
enumerate[3]

TypeError: 'type' object is not subscriptable

In [257]:
test = bucketize_timeoccur_series(time_occur, 8)

In [252]:
bucketize_timeoccur(t1, 8)

00:00:00
03:00:00
06:00:00
09:00:00
12:00:00

4

In [258]:
test

0        7
1        3
2        4
3        8
4        6
5        8
6        5
7        8
8        8
9        7
10       7
11       6
12       6
13       1
14       1
15       3
16       7
17       7
18       7
19       8
20       6
21       8
22       5
23       5
24       7
25       7
26       2
27       2
28       7
29       7
        ..
97733    4
97734    5
97735    1
97736    1
97737    1
97738    7
97739    7
97740    7
97741    4
97742    6
97743    6
97744    7
97745    1
97746    8
97747    8
97748    6
97749    4
97750    7
97751    4
97752    6
97753    4
97754    1
97755    1
97756    1
97757    6
97758    6
97759    8
97760    8
97761    5
97762    1
Name: datetimeoccur, Length: 97763, dtype: int64