In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path_to_file = './philly_ped_vehicle.csv' 
df = pd.read_csv(path_to_file)

In [4]:
from utils import filter as ft
individual_frisk_stops = ft.get_individual_frisk_stops(df)
ped_individual_frisk_stops = ft.get_pedestrian_stops(individual_frisk_stops)

In [6]:
# identify input variables
# subset out by column
# clean nulls if necessary
# transform as input to model

,the_geom,lng,objectid,id,datetimeoccur,weekday,location,districtoccur,psa,stopcode,...,individual_searched,individual_arrested,individual_contraband,vehicle_frisked,vehicle_searched,vehicle_contraband,point_x,point_y,lat,race
36,0101000020E61000009E0E9EE8BECE52C07C2B33213DF8...,-75.230402,61,500482,2014-10-24 20:00:00,FRIDAY,5700 BLOCK BEAUMONT ST,12.0,121.0,2701,...,0,0,0,0,0,0,-75.230402,39.939366,39.939366,Black - Non-Latino
63,0101000020E6100000DA91A81F2DC552C016F2EFD0030A...,-75.080879,88,507782,2014-10-24 08:53:00,FRIDAY,500 BLOCK ARTHUR ST,7.0,71.0,2701,...,0,0,0,0,0,0,-75.080879,40.078241,40.078241,White - Non-Latino
83,0101000020E610000095849F93F9CA52C0DC77772A81FD...,-75.171483,108,435045,2014-09-19 11:57:00,FRIDAY,2200 BLOCK CECIL B MOORE AV,22.0,224.0,2701,...,0,0,0,0,0,0,-75.171483,39.980504,39.980504,Black - Non-Latino
85,0101000020E6100000FECFC4E837CB52C087B3113ECAFE...,-75.175287,110,545868,2014-11-15 22:48:00,SATURDAY,2300 BLOCK N 26TH ST,22.0,224.0,2701,...,0,0,0,0,0,0,-75.175287,39.990547,39.990547,Black - Non-Latino
116,0101000020E6100000D3380E9B0CCB52C06F57F9AFBDFD...,-75.172644,45,74867,2014-03-07 16:35:00,FRIDAY,1800 BLOCK JUDSON ST,22.0,221.0,2701,...,0,0,0,0,0,0,-75.172644,39.982351,39.982351,Black - Non-Latino

In [12]:
df.iloc[88,]

the_geom                                 NaN
lng                                      NaN
objectid                                 113
id                                     42358
datetimeoccur            2014-02-22 21:30:00
weekday                             SATURDAY
location                    B/C DEPARTURE RD
districtoccur                             77
psa                                     7700
stopcode                                2701
stoptype                          pedestrian
inside_or_outside                     Inside
gender                                  Male
the_geom_webmercator                     NaN
age                                       48
individual_frisked                         0
individual_searched                        0
individual_arrested                        0
individual_contraband                      0
vehicle_frisked                            0
vehicle_searched                           0
vehicle_contraband                         0
point_x                                  NaN
point_y                                  NaN
lat                                      NaN
race                      White - Non-Latino
Name: 88, dtype: object

In [5]:

input_variables =['weekday', 'datetimeoccur', 'lng','lat', 'districtoccur','psa',
                 'inside_or_outside','gender','age','race']

In [28]:
gender = df['gender']
sum(gender.values == "")

0

In [30]:
gender[157801]

nan

In [8]:
from utils import filter as ft
cleaned_df = df.dropna()
nrows(cleaned_df) / nrows(df)

AttributeError: module 'utils.filter' has no attribute 'dropna'